body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

html {
  font-size: 16px;
}

.bg_dark_drown {
  background-color: #3b3b3b;
}

.xx_small {
  font-size: 16px;
}

.x-small {
  font-size: 18px;
}

.medium {
  font-size: 22px;
}

.x_medium {
  font-size: 20px;
}

.lg_medium {
  font-size: 24px;
}

.large {
  font-size: 28px;
}

.x_large {
  font-size: 32px;
}

.xx_large {
  font-size: 36px;
}

header {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}

header .navbar-collapse {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(95%);
          transform: translate(95%);
}

header .navbar-nav .nav-link {
  font-size: 18px;
  color: white !important;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/menu.png);
}

.banner {
  position: relative;
}

.banner__text {
  background-image: url(..//img/back_100+.svg);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: 100%;
}

.banner__text p {
  font-size: 45px;
}

.bar {
  right: 20px !important;
}

.bar ul a {
  font-size: 15px;
}

.bar_logo a img {
  width: 200px;
}

.img_logo {
  background-color: #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img_logo_img {
  background-image: url(../img/logo_head.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 38%;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.banner_band {
  background-color: #7f735d;
}

.banner_band .category-image {
  position: relative;
  padding: 30px;
}

.banner_band .category-image:before,
.banner_band .category-image:after,
.banner_band .category-image > :first-child:before,
.banner_band .category-image > :first-child:after {
  position: absolute;
  width: 40px;
  height: 40px;
  border-color: white;
  border-style: solid;
  content: ' ';
}

@media screen and (max-width: 767px) {
  .banner_band .category-image:before,
  .banner_band .category-image:after,
  .banner_band .category-image > :first-child:before,
  .banner_band .category-image > :first-child:after {
    width: 46px;
    height: 46px;
  }
}

.banner_band .category-image:before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
}

.banner_band .category-image:after {
  top: 0;
  right: 0;
  border-width: 2px 2px 0 0;
}

.banner_band .category-image > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 2px 2px 0;
}

.banner_band .category-image > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 2px 2px;
}

.banner_card {
  margin-top: -123%;
}

.banner_card .card-img {
  position: relative;
}

.banner_card .card-body {
  position: absolute;
  top: 60%;
  background-color: #3b3b3b;
  width: 100%;
}

.banner_card .card-body p {
  line-height: 25px;
}

@media (max-width: 991px) {
  header {
    top: 0;
  }
  header .navbar-collapse {
    left: 0;
    top: 30px;
    transform: translate(4%);
    -webkit-transform: translate(4%);
  }
  .banner__text p {
    font-size: 37px;
  }
}

@media (max-width: 1210px) {
  header .navbar-nav .nav-link {
    font-size: 16px;
  }
  .bar_logo a > img {
    width: 140px;
  }
  header .navbar-collapse {
    -webkit-transform: translate(90%);
            transform: translate(90%);
  }
}

@media (max-width: 1112px) {
  .navbar-expand-lg .navbar-collapse {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .banner__text p {
    font-size: 26px;
  }
  .large {
    font-size: 22px;
  }
  .medium {
    font-size: 18px;
  }
}

@media (max-width: 1670px) {
  header .navbar-collapse {
    top: -190%;
  }
}

@media (max-width: 1399px) {
  .banner_card {
    margin-top: -126%;
  }
}

@media (max-width: 1199px) {
  .banner_card {
    margin-top: -131%;
  }
}

@media (max-width: 991px) {
  .banner_card {
    margin-top: 0;
  }
  .banner__text p {
    font-size: 25px;
  }
  .banner_band {
    background: #262626;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #262626), color-stop(50%, #7f735d));
    background: linear-gradient(180deg, #262626 50%, #7f735d 50%);
  }
  .banner__text {
    background-image: url(none);
    background: #262626;
  }
}
/*# sourceMappingURL=main.css.map */